html{
	scroll-behavior: smooth;
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

#header{
	height: 600px;
	max-width: 100%;
	background-image: url("../images/header-image.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.navbar-toggler-icon{
	background-image: url("../images/hamburger.png") !important;
}

#header .navbar .collapse .navbar-nav > li > a:hover{
  color: #ff1a66 !important;
}

#header > .header-container-1 > .row > div:hover {
  color: #ff1a66 !important;
}

#services > .row > .col-sm-12:hover {
  color: #ff1a66 !important;
}

#services .row .card .card-body:hover{
	border: 2px solid #ff1a66 !important;
}

#our-work > .row > .col-sm-12:hover {
  color: #ff1a66 !important;
}

#about-us > .row > .col-sm-12:hover {
  color: #ff1a66 !important;
}

#about-us > .jumbotron:hover {
  border: 2px solid #ff1a66 !important;
}

#about-us > .jumbotron > a > button:hover{
	border: 2px solid #ff1a66 !important;
}

#contact > .row > .col-sm-12:hover {
  color: #ff1a66 !important;
}

#contact > form > button:hover{
	border: 2px solid #ff1a66 !important;
}

@media(max-width: 425px){
	.header-container-1 > .row > .col-sm-12{
		font-size: 2.5em !important;
	}
}

@media(max-width: 375px){

	#services > .row > .col-sm-12{
		font-size: 2.5em !important;
	}

	#our-work > .row > .col-sm-12{
		font-size: 2.5em !important;
	}

	#about-us > .row > .col-sm-12{
		font-size: 2.5em !important;
	}

	#about-us > .jumbotron > .display-4{
		font-size: 2.5em !important;
	}

	#contact > .row > .col-sm-12{
		font-size: 2.5em !important;
	}

	#footer > .fluid-container > .row > .col-sm-12{
		font-size: 2em !important;
		margin-top: 20px !important;
	}

	#footer span{
		font-size: 1.5em !important;
	}
}