body{
	margin: 0;
	padding: 0;
}

#header{
	height: 600px;
	width: 100%;
	background-image: url("../images/header-image.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.head-btn{
	display: block !important;
}



