body,html{
	height: 100%;
}

.bg-img{
	background-image: url("header.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.my-row1{
	padding-top: 120px;
}

.my-row2{
	
	margin-top:300px;
}